.header {
  width: 100%;
  height: 100vh;
  background: url("../img/header_img/headerBack.jpg") no-repeat center;
  .topBlock {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    background: #0F0F0F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logoBlock {
      width: 50%;
      height: 16px;
      padding: 0 0 0 300px;
    }
    .menu {
      width: 50%;
      height: 100%;

      .nav {
        width: 90%;
        height: 100%;

        .ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          height: 100%;

          li {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          li>a {
            text-decoration: none;
            color: #969696;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all ease 0.7s;

            &:hover {
              background-color:
                #1F1F1F;
              color: #fff;
              transition: all ease 0.5s;
            }
          }
        }
      }
    }
  }

  .bottomBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .centreBlock {
      width: 320px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 4px solid #fff;
      cursor: pointer;

      img {
        width: 180px;
      }

      span {
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        border-top: 2px solid #fff;
      }
    }

    .text {
      width: 600px;
      height: 96px;
      text-align: center;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
    }
  }

}