.sezon{
  width: 100%;
  background: #000;
  display: flex;
  .block1{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: #ffff;
      margin: 0 auto;
    }
    & > span{
      display: block;
      margin: 50px auto;
      width: 120px;
      height: 1px;
      background: #ffff;
    }
    .miniwatch{
      display: flex;
      justify-content: space-between;
      .watch{
        flex-direction: column;
        justify-content: center;
        .img{
          background:#191B1C;
        }
        .name{
          font-size: 18px;
          line-height: 24px;
          color: #ffff;
          text-align: center;
        }
        .price{
          font-weight: bold;
          font-size: 16px;
          line-height: 21px;
          color: #ffff;
        }
  
      }
      
    }
  }
  .block2{
    width: 45%;
    height: 730px;
    background: url("../img/sezon/shoes.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1, span, a{
      margin: 20px 0;
    }
    h1{
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    span{
      width: 120px;
      height: 1px;
      background: #ffff;
    }
    a{
      color: #fff;
      border: 1px solid #fff;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding: 10px 20px;
      transition: ease-in 0.3s;
      &:hover{
        background: #fff;
        color: #000;
        transition: ease-in 0.3s;
      }
    }
  }
}