.watches
  h1 новые поступления
  span
  .watches_block
    - var z = ["175 000 руб.","155 000 руб.","50 000 руб.","650 000 руб.","175 000 руб.","155 000 руб.","50 000 руб.","650 000 руб."]
              each val in z
                +members(val)