extends pug/modules/_base

block content
  .wrapper
    include pug/pages/_header
    include pug/pages/_sezon
    //- include pug/modules/_content
    //-   include pug/mixin/mixun
    //-   - var mem= [{name:"Ava Gregoraci",color:"green",secClass:"secccion"},{name:"Somun Ae-Ri",color:"red",secClass:"secccion"},{name:"Lilah Ioselev",color:"purple",secClass:"secccion"}];
    //-   each val in mem
    //-     +members(val.secClass, val.name, val.color)